{% extends 'layout/base.html' %}
{% load static %}

{% block pageTitle %}About{% endblock %}
{% block content %}

    <div class="center text">
        <div style="text-align: center; line-height: 1.5;">
            <a style="color: white; text-decoration: none; border-bottom: white; border-width: 1px; border-bottom-style: solid;"
               href="https://github.com/yasincakirgithub">GitHub</a>
            <br>
            <a style="color: white; text-decoration: none; border-bottom: white; border-width: 1px; border-bottom-style: solid;"
               href="https://www.linkedin.com/in/yasincakir26/">LinkedIn</a>
            <br>
        </div>
        <br>
        <hr style="width: 60%;">
        <br>
        <h1 style="text-align: center; font-size: 40px; font-family: Roboto, Tahoma">Contact</h1>
        For questions, comments, bugs, advertising partnerships, feature requests, or anything else, I can be reached at
        any of the services listed below.
        <br>
        <br>
        <div style="text-align: center; line-height: 1.5;">
            <a style="color: white; text-decoration: none; border-bottom: white; border-width: 1px; border-bottom-style: solid;"
               href="mailto:contact@tiltseeker.com">Email: yasincakir.py@gmail.com</a>
        </div>
    </div>

{% endblock %}


{% block customCss %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}
{% block customJs %}
    <script type="text/javascript" src="{% static 'js/about.js' %}"></script>
{% endblock %}