{% extends 'layout/base.html' %}
{% load static %}

{% block pageTitle %}Homepage{% endblock %}
{% block content %}

    <div class="center">
        <div class="logo"><img src="{% static 'img/banner.jpg' %}"/></div>
        <div id="wittyQuote" class="wittyQuote">
            <span id="quote" class="slogan"></span><span id="author" class="slogan"
                                                         style="font-style: normal; font-weight: 300; white-space: nowrap;">.</span>
        </div>
        <br>

        <input name="textfield" type="text" class="textInput" placeholder="Summoner In Game" autofocus>

        <br>
        <br>

        <ul class="region" id="region-select">
            <li><a class="region-button" id="NA" style="background-color: #111;">NA</a></li>
            <li><a class="region-button" id="EUW">EUW</a></li>
            <li><a class="region-button" id="EUNE">EUNE</a></li>
            <li><a class="region-button" id="BR">BR</a></li>
            <li><a class="region-button" id="TR">TR</a></li>
            <li><a class="region-button" id="RU">RU</a></li>
            <li><a class="region-button" id="LAN">LAN</a></li>
            <li><a class="region-button" id="LAS">LAS</a></li>
            <li><a class="region-button" id="OCE">OCE</a></li>
            <li><a class="region-button" id="KR">KR</a></li>
            <li><a class="region-button" id="JP">JP</a></li>
        </ul>

        <br>

        <input onclick="get_summoner_data()" class="submit-button" type="submit" value="Search User">


    </div>

{% endblock %}


{% block customCss %}

    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" media="screen">

{% endblock %}

{% block customJs %}

    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script>

    function get_summoner_data(){

        let summoner_name = ''
        let summoner_region = ''

    }


    </script>

{% endblock %}