{% extends 'layout/base.html' %}
{% load static %}

{% block pageTitle %}{{ summoner.name }}{% endblock %}
{% block content %}

    {% if error %}

        <div class="container">

            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="card-body">
                                <h4 class="card-title">Opps!</h4>
                                <p class="card-text">Summoner Not Found</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% else %}

        <div class="container">


            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-header text-center">

                            <h4 class="card-title">{{ summoner.name }}</h4>
                            <p class="card-text">Seviye : <b>{{ summoner.level }}</b></p>

                        </div>
                        <div class="card-horizontal">


                            <div class="card-body">

                                <div class="row">
                                    <div class="col-3">

                                        <img style="height: 100%" class="img-fluid" src="{{ summoner.profileIconUrl }}">

                                    </div>

                                    <div class="col-9">
                                        <div class="row">
                                            {% for league_entry in league_entries %}
                                                <div class="col-4">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row"
                                                                 style="height: 120px;background-size: cover;background-image: url('{{ league_entry.icon }}') ">

                                                            </div>
                                                            <p style="text-align: center">{{ league_entry.queue_type }}</p>
                                                            <p style="text-align: center" class="card-text">
                                                                <b>{{ league_entry.tier }} {{ league_entry.rank }}
                                                                    - {{ league_entry.leaguePoints }} LP</b></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">

                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-top20-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-top20" type="button" role="tab"
                                            aria-controls="nav-top20"
                                            aria-selected="true">Top 20 Champions
                                    </button>
{#                                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"#}
{#                                            data-bs-target="#nav-profile" type="button" role="tab"#}
{#                                            aria-controls="nav-profile" aria-selected="false">Profile#}
{#                                    </button>#}
                                    <button class="nav-link" id="nav-activegame-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-activegame" type="button" role="tab"
                                            aria-controls="nav-activegame" aria-selected="false">Active Game
                                    </button>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-top20" role="tabpanel"
                                     aria-labelledby="nav-top20-tab">

                                    <table id="championTable" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Şampiyon</th>
                                            <th>Puan</th>
                                            <th>Son Oynama Tarihi</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for champion in top20champions %}
                                            <tr>
                                                <td>
                                                    {% if champion.championLevelIcon %}
                                                        <img width="30px" src="{{ champion.championLevelIcon }}"/>
                                                    {% endif %}
                                                    <img width="40px" src="{{ champion.championIcon }}"/>
                                                </td>
                                                <td>{{ champion.championPoints }}</td>
                                                <td>{{ champion.lastPlayTime }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>


                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                     aria-labelledby="nav-profile-tab">...
                                </div>
                                <div class="tab-pane fade" id="nav-activegame" role="tabpanel"
                                     aria-labelledby="nav-activegame-tab">

                                    {% if active_games %}
                                        <div class="row text-center">


                                        <div class="col-12">BLUE SİDE</div>

                                        {% for participant in active_games.participants_blue %}
                                            <div class="col">

                                            <div class="card">
                                                <div class="card-body">

                                                    <div class="row">
                                                        <p>{{ participant.summonerName }}</p>
                                                        <img class="img img-fluid" src="{{ participant.profileIconUrl }}">

                                                        <div class="spellContainer">
                                                            <img width="50%" src="{{ participant.spell1Icon }}">
                                                            <img width="50%" src="{{ participant.spell2Icon }}">
                                                        </div>
                                                        
                                                        <div class="championContainer">
                                                            <img src="{{ participant.championIcon }}">
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="card-footer">footer</div>
                                            </div>


                                        </div>
                                        {% endfor %}

                                        <div class="col-12">RED SİDE</div>

                                        {% for participant in active_games.participants_red %}
                                            <div class="col">

                                            <div class="card">
                                                <div class="card-body">

                                                    <div class="row">
                                                        <p>{{ participant.summonerName }}</p>
                                                        <img class="img img-fluid" src="{{ participant.profileIconUrl }}">

                                                        <div class="spellContainer">
                                                            <img width="50%" src="{{ participant.spell1Icon }}">
                                                            <img width="50%" src="{{ participant.spell2Icon }}">
                                                        </div>

                                                        <div class="championContainer">
                                                            <img src="{{ participant.championIcon }}">
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="card-footer">footer</div>
                                            </div>


                                        </div>
                                        {% endfor %}


                                    </div>
                                    {%  else %}

                                        <p>ACTİVE GAME NOT FOUND</p>

                                    {% endif %}




                                </div>
                            </div>

                            <small class="text-muted">Revizyon Tarihi : {{ summoner.revisionDate }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}



{% endblock %}


{% block customCss %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"
          media="screen">

    <style>

        .card-horizontal {
            display: flex;
            flex: 1 1 auto;
        }

        .spellContainer{
            border:1px solid gray;
            display: flex;
            padding: 5px;
        }

    </style>

{% endblock %}
{% block customJs %}
    <script type="text/javascript" src="{% static 'js/about.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js"></script>

    <script>
        function commaSeparateNumber(val) {
            while (/(\d+)(\d{3})/.test(val.toString())) {
                val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
            }
            return val;
        }

        $('#championTable').DataTable(
            {
                "paging": false,
                "searching": false,
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            return commaSeparateNumber(data);
                        },
                        "targets": [1]
                    },
                    {
                        "targets": [2],
                        "type": "date-eu"
                    },
                ]
            }
        );

    </script>

{% endblock %}